/Ejercicio_2_1/nbproject/private/
/Ejercicio_2_1/build/
/Ejercicio_2_2/nbproject/private/
/Ejercicio_2_2/build/
/Ejercicio_2_2/dist/
/Ejercicio_2_3/nbproject/private/
/Ejercicio_2_3/build/
/Ejercicio_2_4/nbproject/private/
/Ejercicio_2_4/build/
/Ejercicio_2_5/nbproject/private/
/Ejercicio_2_5/build/
/Ejercicio_2_5/dist/
/Ejercicio_2_6/nbproject/private/
/Ejercicio_2_6/build/
/Ejercicio_2_7/nbproject/private/
/Ejercicio_2_7/build/
/Ejercicio_extra_1/nbproject/private/
/Ejercicio_extra_1/build/
/Ejercicio_extra_2/nbproject/private/
/Ejercicio_extra_9/nbproject/private/
/Ejercicio_extra_9/build/
/Ejercicio_extra_10/nbproject/private/
/Ejercicio_extra_10/build/
/Ejercicio_extra_11/nbproject/private/
/Ejercicio_extra_11/build/